*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body{background-color: #F3F3F3;}
::-webkit-scrollbar{width: 0.5em;}
::-webkit-scrollbar-track{background: #E4D6E4;}
::-webkit-scrollbar-thumb{background: #975ac0; border-radius: 25px;}
.mainHeader{
    background-color:#181931;
    height: 45px ;}
#logo{position: absolute;margin-left: 10px;margin-top: 10px;}
#face{margin-left: 1200px;margin-top: 5px;}
#twit{margin-left: 15px;}
#insta{margin-left: 15px;}

.subHeader{
    background-color:#1E203F;
    height: 65px ;
    align-items: center;
    display: flex;
    justify-content: space-between;}

ul{ 
    margin-left: 5rem;
    text-decoration: none;
    list-style: none;   
}
    
li{
    display: inline;
    color: #FFD1F1;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 600;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
    margin-right: 3rem;
    margin-left: 3rem ;
}
#search{width: 400px;height: 30px;border-radius: 15px;}


.footer{background-color:#1E203F;
    color: #FFD1F1;
    height: 65px ;
    font-family: 'Montserrat', sans-serif;
    text-align: center;}


.mainSection{background-color:#ececec;
    height: 520px ;
    display: flex;
    justify-content: space-between;
}
.leftSection{
    background-color:#d8d8d8;
    width: 175px;
    height: 520px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
}
.leftSection div {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 120px;
    margin-left: 10px;
    margin-top: 7.5px;
    border-radius: 25px;
}
.middleSection{
    background-color: transparent;
    width: 965px;
    height: 520px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
    
}

.middleSection .item{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 150px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
.rightSection{
    background-color: #d8d8d8;
    width: 175px;
    height: 520px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
}
.rightSection div {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 120px;
    margin-left: 10px;
    margin-top: 7.5px;
    border-radius: 25px;
}


/* FOTOS */
#h0001{margin-top: 40px;}
#h0002{margin-top: 40px;}
#h0003{margin-top: 40px;}
#h0004{margin-top: 40px;}

#h0009{margin-top: 300px;}
#h0010{margin-top: 300px;}
#h0011{margin-top: 300px;}
#h0012{margin-top: 300px;}